extends layout 

block content
  form(action='' method='POST' class='container-fluid bg-light p-3 d-flex flex-column delete-form')
    h2(class='mb-3') Are you sure you want to delete this message? This action cannot be undone.
    div(class='bg-dark mb-3 p-3 message-block')
      //- row 1
      div(class='d-sm-flex justify-content-between mb-1 row-1')
        div(class='message-header d-flex gap-1')
          //- avatar
          i(class='bi bi-person-circle')
          //- author
          p= message.author.full_name
        //- timestamp
        p= message.timestamp_formatted
      //- row 2
      div(class='message-content p-2 rounded')
        //- message title
        h3(class='pb-1')= message.title
        //- message text
        p= message.text
    div(class='align-self-center')
      button(type='button' class='btn btn-secondary me-3') Cancel
      button(type='submit' class='btn btn-danger') Delete