extends layout

block content
  div(class='col-sm-10 offset-sm-1')
    ul
      each message in message_list
        div
          div
            div
              div
                i(class='bi bi-person-circle')
              if currentUser && currentUser.member
                p= message.author.full_name
              else 
                p Become a member to view author
            p= message.timestamp_formatted
          div
            if currentUser && currentUser.member
              h3= message.title
              p= message.text
            else 
              h3 Become a member to view title
              p Become a member to view message
      else 
        li There are no messages.