extends layout

block content
  div(class='col-sm-10 offset-sm-1 message-display')
    ul
      each message in message_list
        div(class='message-block')
          div(class='message-header')
            div(class='message-author')
              div(class='avatar float-left')
                i(class='bi bi-person-circle')
              if currentUser
                p= message.author.full_name
              else 
                p Login to view author
            p= message.timestamp_formatted
          div(class='message-main')
            if currentUser
              h3= message.title
              p= message.text
            else 
              h3 Login to view title
              p Login to view message
      else 
        li There are no messages.
  if currentUser
    a(href='/new-message' id='new-message-anchor')
      i(class='bi bi-plus-lg')
      |  New Message