body {
  height: 100vh;
  background-color: #000;
  color: #f7f8f9;
}

form {
  border-radius: 12px;
}

.form-group {
  margin-bottom: 0.8rem;
}

button {
  margin-top: 1rem;
}

form input,
form textarea {
  background-color: #71787e !important;
  color: #f7f8f9 !important;
  border: none !important;
}

form textarea {
  resize: none;
}

::placeholder {
  color: #d1d2d3 !important;
}

.message-block {
  border-radius: 12px;
}

.message-content {
  background-color: #71787e;
}

.message-content h3 {
  border-bottom: 1px solid #8f959b;
}

.row-1 p {
  margin-bottom: 0;
}

/*
.navbar {
  margin: 0;
}

.nav-brand-logo {
  color: #2ea1ff;
}


.message-display ul {
  list-style: none;
  padding: 0;
}

.message-block {
  background-color: #343a3f;
  padding: 20px;
  margin-bottom: 20px;
}

.avatar i {
  font-size: 2rem;
} */