body {
  height: 100vh;
  background-color: #000;
  color: #f7f8f9;
}

form {
  border-radius: 12px;
  /* border: 1px solid #000; */
  /* padding: 10px 30px; */
  /* background-color: #343a3f; */
  /* overflow: hidden; */
}

.form-group {
  margin-bottom: 0.8rem;
}

button {
  margin-top: 1rem;
}

form input,
form textarea {
  background-color: #71787e !important;
  color: #f7f8f9 !important;
  border: none !important;
}

form textarea {
  resize: none;
}

::placeholder {
  color: #d1d2d3 !important;
}

/*

.navbar {
  margin: 0;
}

.nav-brand-logo {
  color: #2ea1ff;
}

#new-message-anchor {
  position: fixed;
  bottom: 30px;
  right: 30px; 
  background-color: #10caf0;
  color: #f7f8f9;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
}

#new-message-anchor:hover {
  text-decoration: none;
  background-color: #10b8da;
  color: #fff;
  transform: scale(1.05);
}

.message-display ul {
  list-style: none;
  padding: 0;
}

.message-block {
  background-color: #343a3f;
  padding: 20px;
  margin-bottom: 20px;
}

.avatar i {
  font-size: 2rem;
} */